<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417107557234-l4hfiusi01ct0idplvbg0jmt3m0bsdko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417107557234-l4hfiusi01ct0idplvbg0jmt3m0bsdko</string>
	<key>API_KEY</key>
	<string>AIzaSyDIsyDTYu8e6wfZ9Hjt7ttmKDz_ErkMhlU</string>
	<key>GCM_SENDER_ID</key>
	<string>417107557234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.germanqq.flutterTdt</string>
	<key>PROJECT_ID</key>
	<string>tdt-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>tdt-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417107557234:ios:305bb1a107e9743facfbeb</string>
</dict>
</plist>